* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #e0e0e0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.249);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.nav_list {
  display: flex;
  gap: 10px;
}

.nav_list li {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.nav_list li:nth-child(2) {
  border-right: 2px solid rgb(90, 90, 90);
  border-left: 2px solid rgb(90, 90, 90);
  padding: 0 15px;
}

.application {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.calculator_flex {
  display: flex;
  width: 100%;
  gap: 5rem;
  justify-content: space-between;
}

.request {
  padding-top: 150px;
  padding-left: 20px;
}

.calculator {
  width: 50vw;
  padding-top: 150px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.calculator-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  font-size: 1.3rem;
  background-color: grey;
  padding: 8px;
  color: white;
}

.operations {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(5, 60px);
}

button {
  cursor: pointer;
  border: 1px solid #c7c7c7;
  background-color: #e0e0e0;
}

button:hover {
  background-color: #e0e0e0b9;
}

button:active {
  background-color: #80808088;
}

.zero {
  grid-column: 1/span 2;
}

.operators {
  background-color: #f5913e;
}

.operators:hover {
  background-color: #ee832bc4;
}

.operators:active {
  background-color: rgba(82, 40, 3, 0.966);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 1;
  background: #e0e0e0;
  text-align: center;
}
